In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle

In [9]:
dataset=pd.read_csv('hiring.csv')
dataset.columns

Index(['experience', 'test_score(out of 10)', 'interview_score(out of 10)',
       'salary($)'],
      dtype='object')

In [13]:
data=dataset.rename(columns={'test_score(out of 10)':'test_score','interview_score(out of 10)':'interview_score','salary($)':'salary'})

In [18]:
data.columns

Index(['experience', 'test_score', 'interview_score', 'salary'], dtype='object')

In [20]:
data['experience'].fillna(0,inplace=True)

In [21]:
data['test_score'].fillna(0,inplace=True)

In [22]:
data.head()

  experience  test_score  interview_score  salary
0          0         8.0                9   50000
1          0         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000

In [24]:
def convert_to_int(word):
    word_dict={'one':1,'two':2,'three':3,'four':4,'five':5,'six':6,'seven':7,'eight':8,'nine':9,
               'ten':10,'eleven':11,'twelve':12,'zero':0,0:0}
    return word_dict[word]

In [31]:
X=data.iloc[:,:3]

In [33]:
X['experience']=X['experience'].apply(lambda x:convert_to_int(x))

In [36]:
X.head()

   experience  test_score  interview_score
0           0         8.0                9
1           0         8.0                6
2           5         6.0                7
3           2        10.0               10
4           7         9.0                6

In [37]:
y=data.iloc[:,-1]

In [38]:
from sklearn.linear_model import LinearRegression
reg= LinearRegression()

In [39]:
reg.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [41]:
pickle.dump(reg,open('model.pkl','wb'))

In [42]:
model=pickle.load(open('model.pkl','rb'))
print(model.predict([[2,9,6]]))

[52688.25222797]